.register__content {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
}

.register__content .content__form {
    /* background-color: red; */
    height: 600px;
    overflow-y: scroll;
}

.site-tag-plus {
    background: #fff;
    border-style: dashed;
}