.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: none !important;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-caption {
    position: absolute;
    right: -50% !important;
    bottom: 0 !important;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    overflow: hidden !important;
}

.color-icon {
    color: yellow;
}
.title-hero {
    font-size: 16px;
    margin-left: 90px;
    margin-bottom: 0;
    overflow: hidden;
}

/* Carousel content */
.list-carousel-hero {
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}
.carousel-content .nav-cr {
    color: #fff !important;
}

.btnicon3 {
    padding: 5px 20px !important;
    font-weight: 600 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}
.btnicon3:hover {
    background-color: #28a745;
}

.carousel-title {
    position: absolute;
    top: 30%;
    left: 11%;
}
.carousel-title h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}
.freelance {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.search-cr {
    margin-left: 0;
}

.popular {
    color: #fff;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    
}
.popular-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}
.popular-text-content {
    border: 1px solid #fff;
    padding: 1px 5px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
}
.popular-text-content a {
    color: #fff;
}
.popular-text-content:hover a {
    color: #404145;
    text-decoration: none;
}
.popular-text-content:hover {
    background-color: #fff;
}

/* Responsive */
@media screen and (max-width: 1200px) {
    .carousel-title {
        top: 30%;
        left: 3%;
    }
}
@media screen and (max-width: 1194px){
    .carousel-title {
        top: 30%;
        left: 11%;
    }
}
@media screen and (max-width:1024px) {
    .search {
        width: 467px;
    }
    .carousel-title h1 {
        font-size: 2rem;
    }
    .carousel-title {
        top: 40%;
        left: 3%;
    }
}

@media screen and (max-width: 992px) {
    .popular {
        font-size: 9px;
    }
    .carousel-caption {
        right: -40% !important;
    }
    .search {
        width: 374px;
    }
}

@media screen and (max-width: 768px) {
    .popular{
        display: none;
    }
    .carousel-title h1 {
        font-size: 1.75rem;
    }
    .search {
        width: 330px;
    }

}
