.services-title {
    padding-bottom: 80px;
}

.services-title h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}

.slick-slider .slick-list {
    margin: 0 140px !important;
    overflow: hidden;
}

.slides-item {
    height: 260px !important;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.slides-item:hover {
    opacity: 0.85;
}

.slick-prev {
    left: 8% !important;
}
.slick-next {
    right: 10% !important;
}

.slides-item-content {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 100%;
    z-index: 10;
    color: #fff;
}

.text-item-title {
    font-size: 12px;
    font-weight: 600;
}
.text-item-logo {
    font-size: 18px;
    font-weight: bold;
}

.services-title .slick-prev,
.services-title .slick-next {
    background-color: #fff !important;
    position: absolute;
    z-index: 10;
    top: 60%;
    width: 40px;
    height: 40px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 30px;
    opacity: 1 !important;
}

.services-title .slick-prev:before {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
        no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 13px;
}
.services-title .slick-next:before {
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
        no-repeat;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 13px;
    transform: rotate(180deg);
}
/* Responsive */
@media screen and (max-width: 992px){
    .popular {
        font-size: 9px;
    }
    .slides-item {
        height: 180px !important;
    }
    .slick-prev {
        left: 12% !important;
    }
    .slick-next {
        right: 15% !important;
    }
    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
    }
    
}