.profile__content {
    background-color: #f7f7f7;
}

.content__left .card__avatar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 150px;
    border-radius: 10px;
}

.card__info i {
    margin-right: 10px;
}

.info__top,
.info__bottom {
    display: flex;
    justify-content: space-between;
    color: #62646a;
    font-weight: bold;
}

.achievement__tag {
    margin: 5px 5px;
    padding: 5px 12px;
    border: 1px solid red;
    border-radius: 15px;
    font-weight: bold;
}

.site-tag-plus {
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 5px;
    background: #28a745;
    color: #ffff;
}

.learn__card .card__bottom p {
    font-size: 18px;
}

.desc__card .desc__title {
    color: #008000;
}

.desc__card .desc__bot .left__list {
    padding-left: 0;
}

.desc__bot .left__list a {
    display: block;
    margin: 15px 0;
    color: #00698c;
    font-weight: bold;
}

.desc__bot a i {
    margin-right: 10px;
}

#pills-tab .nav-item:hover .nav-link {
    color: black !important;
}

.desc__card .add__tag {
    font-size: 16px;
    color: #00698c;
}